## Preprocessing

In [97]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.callbacks import LambdaCallback
import tensorflow as tf
import pandas as pd

In [98]:
#  Import and read the charity_data.csv.

application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [99]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
colums_to_drop = ["EIN", "NAME"]    
application_df = application_df.drop(colums_to_drop, axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [100]:
# Determine the number of unique values in each column.
application_df.nunique(axis=0)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [101]:
# Look at APPLICATION_TYPE value counts for binning
application_type = application_df.APPLICATION_TYPE.value_counts()
print(application_type)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [102]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value_app = 500
application_types_to_replace = application_type[application_type < cutoff_value_app].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [103]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [104]:
# Look at CLASSIFICATION counts >1
classification_counts_upper = classification_counts[classification_counts > 1]
classification_counts_upper

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [105]:
# Choose a cutoff value and create a list of classifications to be replaced
cut_off_value_class = 1000  
classifications_to_replace = classification_counts[classification_counts < cut_off_value_class].index.tolist()  

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [106]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

# Display the resulting DataFrame
application_df_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [107]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies["IS_SUCCESSFUL"].values
X = application_df_dummies.drop(["IS_SUCCESSFUL"], axis=1).values   

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [108]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [109]:
number_input_features = len(X_train[0])
print(number_input_features)

43

In [110]:
# Define the model - deep neural net
nn = tf.keras.models.Sequential()

# First hidden layer 
nn.add(tf.keras.layers.Dense(units=80, input_dim=number_input_features, activation='relu'))

# Second hidden layer 
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer 
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_54 (Dense)            (None, 80)                3520

 dense_55 (Dense)            (None, 30)                2430

 dense_56 (Dense)            (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)

Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [111]:
# Create a lambda function to print callback after every 5 epochs   
print_callback = LambdaCallback(
    on_epoch_end=lambda epoch, logs: print(f"Epoch {epoch + 1} - Loss: {logs['loss']}, Accuracy: {logs['accuracy']}") if (epoch + 1) % 5 == 0 else None
)

In [112]:
# Compile your model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [113]:
# Train the model with the callback
nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[print_callback])

Epoch 1/100
804/804 [==============================] - 1s 496us/step - loss: 0.5709 - accuracy: 0.7197
Epoch 2/100
804/804 [==============================] - 0s 487us/step - loss: 0.5550 - accuracy: 0.7314
Epoch 3/100
804/804 [==============================] - 0s 485us/step - loss: 0.5514 - accuracy: 0.7331
Epoch 4/100
804/804 [==============================] - 0s 480us/step - loss: 0.5500 - accuracy: 0.7333
Epoch 5/100
713/804 [=========================>....] - ETA: 0s - loss: 0.5512 - accuracy: 0.7316Epoch 5 - Loss: 0.5492125153541565, Accuracy: 0.7332063317298889
804/804 [==============================] - 0s 557us/step - loss: 0.5492 - accuracy: 0.7332
Epoch 6/100
804/804 [==============================] - 0s 481us/step - loss: 0.5475 - accuracy: 0.7336
Epoch 7/100
804/804 [==============================] - 0s 482us/step - loss: 0.5476 - accuracy: 0.7348
Epoch 8/100
804/804 [==============================] - 0s 482us/step - loss: 0.5465 - accuracy: 0.7346
Epoch 9/100
804/804 [==============================] - 0s 484us/step - loss: 0.5459 - accuracy: 0.7352
Epoch 10/100
728/804 [==========================>...] - ETA: 0s - loss: 0.5440 - accuracy: 0.7350Epoch 10 - Loss: 0.5450905561447144, Accuracy: 0.7344503402709961
804/804 [==============================] - 0s 485us/step - loss: 0.5451 - accuracy: 0.7345
Epoch 11/100
804/804 [==============================] - 0s 484us/step - loss: 0.5449 - accuracy: 0.7367
Epoch 12/100
804/804 [==============================] - 0s 521us/step - loss: 0.5446 - accuracy: 0.7365
Epoch 13/100
804/804 [==============================] - 0s 486us/step - loss: 0.5439 - accuracy: 0.7358
Epoch 14/100
804/804 [==============================] - 0s 484us/step - loss: 0.5443 - accuracy: 0.7360
Epoch 15/100
725/804 [==========================>...] - ETA: 0s - loss: 0.5448 - accuracy: 0.7359Epoch 15 - Loss: 0.5437465906143188, Accuracy: 0.7369382381439209
804/804 [==============================] - 0s 487us/step - loss: 0.5437 - accuracy: 0.7369
Epoch 16/100
804/804 [==============================] - 0s 483us/step - loss: 0.5428 - accuracy: 0.7378
Epoch 17/100
804/804 [==============================] - 0s 485us/step - loss: 0.5431 - accuracy: 0.7374
Epoch 18/100
804/804 [==============================] - 0s 523us/step - loss: 0.5431 - accuracy: 0.7378
Epoch 19/100
804/804 [==============================] - 0s 495us/step - loss: 0.5425 - accuracy: 0.7378
Epoch 20/100
724/804 [==========================>...] - ETA: 0s - loss: 0.5398 - accuracy: 0.7396Epoch 20 - Loss: 0.5419771075248718, Accuracy: 0.737637996673584
804/804 [==============================] - 0s 488us/step - loss: 0.5420 - accuracy: 0.7376
Epoch 21/100
804/804 [==============================] - 0s 485us/step - loss: 0.5424 - accuracy: 0.7369
Epoch 22/100
804/804 [==============================] - 0s 484us/step - loss: 0.5417 - accuracy: 0.7378
Epoch 23/100
804/804 [==============================] - 0s 486us/step - loss: 0.5419 - accuracy: 0.7375
Epoch 24/100
804/804 [==============================] - 0s 483us/step - loss: 0.5416 - accuracy: 0.7394
Epoch 25/100
776/804 [===========================>..] - ETA: 0s - loss: 0.5416 - accuracy: 0.7380Epoch 25 - Loss: 0.5408110618591309, Accuracy: 0.7387653589248657
804/804 [==============================] - 0s 518us/step - loss: 0.5408 - accuracy: 0.7388
Epoch 26/100
804/804 [==============================] - 0s 483us/step - loss: 0.5410 - accuracy: 0.7394
Epoch 27/100
804/804 [==============================] - 0s 483us/step - loss: 0.5409 - accuracy: 0.7393
Epoch 28/100
804/804 [==============================] - 0s 484us/step - loss: 0.5404 - accuracy: 0.7395
Epoch 29/100
804/804 [==============================] - 0s 485us/step - loss: 0.5408 - accuracy: 0.7382
Epoch 30/100
732/804 [==========================>...] - ETA: 0s - loss: 0.5405 - accuracy: 0.7389Epoch 30 - Loss: 0.5401581525802612, Accuracy: 0.7387264966964722
804/804 [==============================] - 0s 482us/step - loss: 0.5402 - accuracy: 0.7387
Epoch 31/100
804/804 [==============================] - 0s 524us/step - loss: 0.5400 - accuracy: 0.7398
Epoch 32/100
804/804 [==============================] - 0s 488us/step - loss: 0.5400 - accuracy: 0.7385
Epoch 33/100
804/804 [==============================] - 0s 493us/step - loss: 0.5393 - accuracy: 0.7391
Epoch 34/100
804/804 [==============================] - 0s 483us/step - loss: 0.5392 - accuracy: 0.7393
Epoch 35/100
727/804 [==========================>...] - ETA: 0s - loss: 0.5414 - accuracy: 0.7379Epoch 35 - Loss: 0.5397989749908447, Accuracy: 0.7389597296714783
804/804 [==============================] - 0s 486us/step - loss: 0.5398 - accuracy: 0.7390
Epoch 36/100
804/804 [==============================] - 0s 524us/step - loss: 0.5394 - accuracy: 0.7395
Epoch 37/100
804/804 [==============================] - 0s 485us/step - loss: 0.5393 - accuracy: 0.7399
Epoch 38/100
804/804 [==============================] - 0s 484us/step - loss: 0.5392 - accuracy: 0.7400
Epoch 39/100
804/804 [==============================] - 0s 488us/step - loss: 0.5392 - accuracy: 0.7399
Epoch 40/100
730/804 [==========================>...] - ETA: 0s - loss: 0.5381 - accuracy: 0.7402Epoch 40 - Loss: 0.5385388135910034, Accuracy: 0.739931583404541
804/804 [==============================] - 0s 483us/step - loss: 0.5385 - accuracy: 0.7399
Epoch 41/100
804/804 [==============================] - 0s 485us/step - loss: 0.5388 - accuracy: 0.7400
Epoch 42/100
804/804 [==============================] - 0s 481us/step - loss: 0.5387 - accuracy: 0.7401
Epoch 43/100
804/804 [==============================] - 0s 523us/step - loss: 0.5385 - accuracy: 0.7400
Epoch 44/100
804/804 [==============================] - 0s 487us/step - loss: 0.5382 - accuracy: 0.7399
Epoch 45/100
727/804 [==========================>...] - ETA: 0s - loss: 0.5377 - accuracy: 0.7411Epoch 45 - Loss: 0.5378240942955017, Accuracy: 0.7412533164024353
804/804 [==============================] - 0s 486us/step - loss: 0.5378 - accuracy: 0.7413
Epoch 46/100
804/804 [==============================] - 0s 485us/step - loss: 0.5380 - accuracy: 0.7394
Epoch 47/100
804/804 [==============================] - 0s 485us/step - loss: 0.5376 - accuracy: 0.7408
Epoch 48/100
804/804 [==============================] - 0s 485us/step - loss: 0.5375 - accuracy: 0.7411
Epoch 49/100
804/804 [==============================] - 0s 534us/step - loss: 0.5374 - accuracy: 0.7400
Epoch 50/100
737/804 [==========================>...] - ETA: 0s - loss: 0.5389 - accuracy: 0.7397Epoch 50 - Loss: 0.5379484295845032, Accuracy: 0.7408257126808167
804/804 [==============================] - 0s 479us/step - loss: 0.5379 - accuracy: 0.7408
Epoch 51/100
804/804 [==============================] - 0s 483us/step - loss: 0.5375 - accuracy: 0.7409
Epoch 52/100
804/804 [==============================] - 0s 483us/step - loss: 0.5374 - accuracy: 0.7400
Epoch 53/100
804/804 [==============================] - 0s 482us/step - loss: 0.5372 - accuracy: 0.7405
Epoch 54/100
804/804 [==============================] - 0s 483us/step - loss: 0.5374 - accuracy: 0.7405
Epoch 55/100
766/804 [===========================>..] - ETA: 0s - loss: 0.5373 - accuracy: 0.7405Epoch 55 - Loss: 0.5368776321411133, Accuracy: 0.7409811615943909
804/804 [==============================] - 0s 525us/step - loss: 0.5369 - accuracy: 0.7410
Epoch 56/100
804/804 [==============================] - 0s 483us/step - loss: 0.5369 - accuracy: 0.7410
Epoch 57/100
804/804 [==============================] - 0s 482us/step - loss: 0.5371 - accuracy: 0.7407
Epoch 58/100
804/804 [==============================] - 0s 484us/step - loss: 0.5366 - accuracy: 0.7405
Epoch 59/100
804/804 [==============================] - 0s 484us/step - loss: 0.5368 - accuracy: 0.7407
Epoch 60/100
730/804 [==========================>...] - ETA: 0s - loss: 0.5370 - accuracy: 0.7406Epoch 60 - Loss: 0.53669673204422, Accuracy: 0.7409811615943909
804/804 [==============================] - 0s 482us/step - loss: 0.5367 - accuracy: 0.7410
Epoch 61/100
804/804 [==============================] - 0s 522us/step - loss: 0.5366 - accuracy: 0.7411
Epoch 62/100
804/804 [==============================] - 0s 483us/step - loss: 0.5364 - accuracy: 0.7412
Epoch 63/100
804/804 [==============================] - 0s 481us/step - loss: 0.5364 - accuracy: 0.7407
Epoch 64/100
804/804 [==============================] - 0s 483us/step - loss: 0.5367 - accuracy: 0.7409
Epoch 65/100
712/804 [=========================>....] - ETA: 0s - loss: 0.5362 - accuracy: 0.7398Epoch 65 - Loss: 0.5361736416816711, Accuracy: 0.7403203248977661
804/804 [==============================] - 0s 494us/step - loss: 0.5362 - accuracy: 0.7403
Epoch 66/100
804/804 [==============================] - 0s 520us/step - loss: 0.5361 - accuracy: 0.7411
Epoch 67/100
804/804 [==============================] - 0s 485us/step - loss: 0.5362 - accuracy: 0.7414
Epoch 68/100
804/804 [==============================] - 0s 483us/step - loss: 0.5363 - accuracy: 0.7409
Epoch 69/100
804/804 [==============================] - 0s 484us/step - loss: 0.5357 - accuracy: 0.7412
Epoch 70/100
729/804 [==========================>...] - ETA: 0s - loss: 0.5361 - accuracy: 0.7410Epoch 70 - Loss: 0.5361823439598083, Accuracy: 0.7400482296943665
804/804 [==============================] - 0s 484us/step - loss: 0.5362 - accuracy: 0.7400
Epoch 71/100
804/804 [==============================] - 0s 483us/step - loss: 0.5356 - accuracy: 0.7409
Epoch 72/100
804/804 [==============================] - 0s 524us/step - loss: 0.5356 - accuracy: 0.7415
Epoch 73/100
804/804 [==============================] - 0s 484us/step - loss: 0.5356 - accuracy: 0.7411
Epoch 74/100
804/804 [==============================] - 0s 483us/step - loss: 0.5354 - accuracy: 0.7411
Epoch 75/100
735/804 [==========================>...] - ETA: 0s - loss: 0.5351 - accuracy: 0.7412Epoch 75 - Loss: 0.5356656908988953, Accuracy: 0.7412533164024353
804/804 [==============================] - 0s 482us/step - loss: 0.5357 - accuracy: 0.7413
Epoch 76/100
804/804 [==============================] - 0s 485us/step - loss: 0.5350 - accuracy: 0.7413
Epoch 77/100
804/804 [==============================] - 0s 525us/step - loss: 0.5357 - accuracy: 0.7414
Epoch 78/100
804/804 [==============================] - 0s 486us/step - loss: 0.5353 - accuracy: 0.7413
Epoch 79/100
804/804 [==============================] - 0s 486us/step - loss: 0.5351 - accuracy: 0.7410
Epoch 80/100
729/804 [==========================>...] - ETA: 0s - loss: 0.5352 - accuracy: 0.7412Epoch 80 - Loss: 0.5355165004730225, Accuracy: 0.7409811615943909
804/804 [==============================] - 0s 485us/step - loss: 0.5355 - accuracy: 0.7410
Epoch 81/100
804/804 [==============================] - 0s 493us/step - loss: 0.5352 - accuracy: 0.7411
Epoch 82/100
804/804 [==============================] - 0s 476us/step - loss: 0.5348 - accuracy: 0.7416
Epoch 83/100
804/804 [==============================] - 0s 510us/step - loss: 0.5348 - accuracy: 0.7422
Epoch 84/100
804/804 [==============================] - 0s 469us/step - loss: 0.5352 - accuracy: 0.7416
Epoch 85/100
733/804 [==========================>...] - ETA: 0s - loss: 0.5338 - accuracy: 0.7413Epoch 85 - Loss: 0.5347736477851868, Accuracy: 0.741836428642273
804/804 [==============================] - 0s 482us/step - loss: 0.5348 - accuracy: 0.7418
Epoch 86/100
804/804 [==============================] - 0s 485us/step - loss: 0.5345 - accuracy: 0.7416
Epoch 87/100
804/804 [==============================] - 0s 483us/step - loss: 0.5350 - accuracy: 0.7416
Epoch 88/100
804/804 [==============================] - 0s 523us/step - loss: 0.5349 - accuracy: 0.7410
Epoch 89/100
804/804 [==============================] - 0s 483us/step - loss: 0.5349 - accuracy: 0.7418
Epoch 90/100
733/804 [==========================>...] - ETA: 0s - loss: 0.5348 - accuracy: 0.7425Epoch 90 - Loss: 0.5346571207046509, Accuracy: 0.7416420578956604
804/804 [==============================] - 0s 481us/step - loss: 0.5347 - accuracy: 0.7416
Epoch 91/100
804/804 [==============================] - 0s 483us/step - loss: 0.5345 - accuracy: 0.7420
Epoch 92/100
804/804 [==============================] - 0s 484us/step - loss: 0.5347 - accuracy: 0.7414
Epoch 93/100
804/804 [==============================] - 0s 525us/step - loss: 0.5345 - accuracy: 0.7411
Epoch 94/100
804/804 [==============================] - 0s 485us/step - loss: 0.5346 - accuracy: 0.7412
Epoch 95/100
726/804 [==========================>...] - ETA: 0s - loss: 0.5362 - accuracy: 0.7411Epoch 95 - Loss: 0.5348613262176514, Accuracy: 0.7419530153274536
804/804 [==============================] - 0s 486us/step - loss: 0.5349 - accuracy: 0.7420
Epoch 96/100
804/804 [==============================] - 0s 483us/step - loss: 0.5342 - accuracy: 0.7417
Epoch 97/100
804/804 [==============================] - 0s 491us/step - loss: 0.5343 - accuracy: 0.7417
Epoch 98/100
804/804 [==============================] - 0s 484us/step - loss: 0.5345 - accuracy: 0.7414
Epoch 99/100
804/804 [==============================] - 0s 521us/step - loss: 0.5343 - accuracy: 0.7414
Epoch 100/100
728/804 [==========================>...] - ETA: 0s - loss: 0.5331 - accuracy: 0.7414Epoch 100 - Loss: 0.5341867208480835, Accuracy: 0.741680920124054
804/804 [==============================] - 0s 484us/step - loss: 0.5342 - accuracy: 0.7417

In [114]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5623 - accuracy: 0.7256 - 136ms/epoch - 506us/step
Loss: 0.5623271465301514, Accuracy: 0.7255976796150208

In [115]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE