## Preprocessing

In [1]:
# Set up dependencies   
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.callbacks import LambdaCallback
import tensorflow as tf
import pandas as pd

In [2]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the 'EIN' and 'NAME' columns.
colums_to_drop = ["EIN", "NAME"]    
application_df = application_df.drop(colums_to_drop, axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique(axis=0)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type = application_df.APPLICATION_TYPE.value_counts()
print(application_type)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Cut off at 250 and create a list of application types to be replaced
cutoff_value_app = 250
application_types_to_replace = application_type[application_type < cutoff_value_app].index.tolist()

# Replace with "Other" in the dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# Look at CLASSIFICATION counts >1
classification_counts_upper = classification_counts[classification_counts > 1]
classification_counts_upper

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Cut off at 1000 and create a list of classifications to be replaced
cut_off_value_class = 1000  
classifications_to_replace = classification_counts[classification_counts < cut_off_value_class].index.tolist()  

# Replace with "Other" in the dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

# Display the resulting DataFrame
application_df_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split the preprocessed data into target and features arrays   
y = application_df_dummies["IS_SUCCESSFUL"].values
X = application_df_dummies.drop(["IS_SUCCESSFUL"], axis=1).values   

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [12]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler with the training data
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Check the number of features in the training dataset  
number_input_features = len(X_train[0])
print(number_input_features)

43

In [14]:
# Define the model and architecture 
nn = tf.keras.models.Sequential()

# Layer 0 
nn.add(tf.keras.layers.Dense(units=80, input_dim=number_input_features, activation='relu'))

# Layer 1
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Layer 2
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Create a lambda function to print callback after every 5 epochs   
print_callback = LambdaCallback(
    on_epoch_end=lambda epoch, logs: print(f"Epoch {epoch + 1} - Loss: {logs['loss']}, Accuracy: {logs['accuracy']}") if (epoch + 1) % 5 == 0 else None
)

In [16]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [17]:
# Train the model with the callback
nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[print_callback])

Epoch 1/100
804/804 [==============================] - 1s 561us/step - loss: 0.5682 - accuracy: 0.7250
Epoch 2/100
804/804 [==============================] - 0s 545us/step - loss: 0.5540 - accuracy: 0.7311
Epoch 3/100
804/804 [==============================] - 0s 542us/step - loss: 0.5512 - accuracy: 0.7316
Epoch 4/100
804/804 [==============================] - 0s 590us/step - loss: 0.5496 - accuracy: 0.7352
Epoch 5/100
755/804 [===========================>..] - ETA: 0s - loss: 0.5494 - accuracy: 0.7328Epoch 5 - Loss: 0.5491388440132141, Accuracy: 0.7330119609832764
804/804 [==============================] - 0s 536us/step - loss: 0.5491 - accuracy: 0.7330
Epoch 6/100
804/804 [==============================] - 0s 542us/step - loss: 0.5471 - accuracy: 0.7351
Epoch 7/100
804/804 [==============================] - 0s 583us/step - loss: 0.5465 - accuracy: 0.7358
Epoch 8/100
804/804 [==============================] - 0s 543us/step - loss: 0.5467 - accuracy: 0.7343
Epoch 9/100
804/804 [==============================] - 0s 563us/step - loss: 0.5454 - accuracy: 0.7354
Epoch 10/100
745/804 [==========================>...] - ETA: 0s - loss: 0.5456 - accuracy: 0.7356Epoch 10 - Loss: 0.5448691248893738, Accuracy: 0.7364717721939087
804/804 [==============================] - 0s 541us/step - loss: 0.5449 - accuracy: 0.7365
Epoch 11/100
804/804 [==============================] - 0s 589us/step - loss: 0.5445 - accuracy: 0.7349
Epoch 12/100
804/804 [==============================] - 0s 559us/step - loss: 0.5445 - accuracy: 0.7362
Epoch 13/100
804/804 [==============================] - 0s 565us/step - loss: 0.5434 - accuracy: 0.7366
Epoch 14/100
804/804 [==============================] - 0s 587us/step - loss: 0.5435 - accuracy: 0.7361
Epoch 15/100
747/804 [==========================>...] - ETA: 0s - loss: 0.5434 - accuracy: 0.7361Epoch 15 - Loss: 0.5432938933372498, Accuracy: 0.7362774014472961
804/804 [==============================] - 0s 539us/step - loss: 0.5433 - accuracy: 0.7363
Epoch 16/100
804/804 [==============================] - 0s 539us/step - loss: 0.5428 - accuracy: 0.7372
Epoch 17/100
804/804 [==============================] - 0s 535us/step - loss: 0.5430 - accuracy: 0.7367
Epoch 18/100
804/804 [==============================] - 0s 581us/step - loss: 0.5424 - accuracy: 0.7388
Epoch 19/100
804/804 [==============================] - 0s 551us/step - loss: 0.5423 - accuracy: 0.7385
Epoch 20/100
724/804 [==========================>...] - ETA: 0s - loss: 0.5403 - accuracy: 0.7392Epoch 20 - Loss: 0.5417377948760986, Accuracy: 0.7380267381668091
804/804 [==============================] - 0s 555us/step - loss: 0.5417 - accuracy: 0.7380
Epoch 21/100
804/804 [==============================] - 0s 543us/step - loss: 0.5420 - accuracy: 0.7377
Epoch 22/100
804/804 [==============================] - 0s 577us/step - loss: 0.5419 - accuracy: 0.7371
Epoch 23/100
804/804 [==============================] - 0s 548us/step - loss: 0.5411 - accuracy: 0.7390
Epoch 24/100
804/804 [==============================] - 0s 560us/step - loss: 0.5411 - accuracy: 0.7379
Epoch 25/100
780/804 [============================>.] - ETA: 0s - loss: 0.5410 - accuracy: 0.7388Epoch 25 - Loss: 0.5408776998519897, Accuracy: 0.7384154796600342
804/804 [==============================] - 0s 582us/step - loss: 0.5409 - accuracy: 0.7384
Epoch 26/100
804/804 [==============================] - 0s 539us/step - loss: 0.5403 - accuracy: 0.7396
Epoch 27/100
804/804 [==============================] - 0s 537us/step - loss: 0.5403 - accuracy: 0.7389
Epoch 28/100
804/804 [==============================] - 0s 535us/step - loss: 0.5405 - accuracy: 0.7387
Epoch 29/100
804/804 [==============================] - 0s 610us/step - loss: 0.5402 - accuracy: 0.7376
Epoch 30/100
731/804 [==========================>...] - ETA: 0s - loss: 0.5409 - accuracy: 0.7396Epoch 30 - Loss: 0.5398861169815063, Accuracy: 0.7400093078613281
804/804 [==============================] - 0s 550us/step - loss: 0.5399 - accuracy: 0.7400
Epoch 31/100
804/804 [==============================] - 0s 547us/step - loss: 0.5396 - accuracy: 0.7383
Epoch 32/100
804/804 [==============================] - 0s 610us/step - loss: 0.5393 - accuracy: 0.7381
Epoch 33/100
804/804 [==============================] - 0s 553us/step - loss: 0.5392 - accuracy: 0.7391
Epoch 34/100
804/804 [==============================] - 0s 537us/step - loss: 0.5394 - accuracy: 0.7395
Epoch 35/100
758/804 [===========================>..] - ETA: 0s - loss: 0.5380 - accuracy: 0.7399Epoch 35 - Loss: 0.5386533737182617, Accuracy: 0.7387653589248657
804/804 [==============================] - 0s 535us/step - loss: 0.5387 - accuracy: 0.7388
Epoch 36/100
804/804 [==============================] - 0s 580us/step - loss: 0.5390 - accuracy: 0.7396
Epoch 37/100
804/804 [==============================] - 0s 578us/step - loss: 0.5393 - accuracy: 0.7391
Epoch 38/100
804/804 [==============================] - 0s 534us/step - loss: 0.5392 - accuracy: 0.7396
Epoch 39/100
804/804 [==============================] - 0s 579us/step - loss: 0.5388 - accuracy: 0.7394
Epoch 40/100
731/804 [==========================>...] - ETA: 0s - loss: 0.5367 - accuracy: 0.7402Epoch 40 - Loss: 0.5381312370300293, Accuracy: 0.7393484711647034
804/804 [==============================] - 0s 551us/step - loss: 0.5381 - accuracy: 0.7393
Epoch 41/100
804/804 [==============================] - 0s 531us/step - loss: 0.5382 - accuracy: 0.7390
Epoch 42/100
804/804 [==============================] - 0s 540us/step - loss: 0.5382 - accuracy: 0.7408
Epoch 43/100
804/804 [==============================] - 0s 581us/step - loss: 0.5380 - accuracy: 0.7396
Epoch 44/100
804/804 [==============================] - 0s 571us/step - loss: 0.5380 - accuracy: 0.7393
Epoch 45/100
724/804 [==========================>...] - ETA: 0s - loss: 0.5377 - accuracy: 0.7402Epoch 45 - Loss: 0.5378178358078003, Accuracy: 0.7404369711875916
804/804 [==============================] - 0s 560us/step - loss: 0.5378 - accuracy: 0.7404
Epoch 46/100
804/804 [==============================] - 0s 589us/step - loss: 0.5379 - accuracy: 0.7395
Epoch 47/100
804/804 [==============================] - 0s 574us/step - loss: 0.5377 - accuracy: 0.7406
Epoch 48/100
804/804 [==============================] - 0s 584us/step - loss: 0.5376 - accuracy: 0.7397
Epoch 49/100
804/804 [==============================] - 0s 587us/step - loss: 0.5377 - accuracy: 0.7402
Epoch 50/100
754/804 [===========================>..] - ETA: 0s - loss: 0.5370 - accuracy: 0.7397Epoch 50 - Loss: 0.5375189185142517, Accuracy: 0.7401648163795471
804/804 [==============================] - 0s 535us/step - loss: 0.5375 - accuracy: 0.7402
Epoch 51/100
804/804 [==============================] - 0s 531us/step - loss: 0.5374 - accuracy: 0.7401
Epoch 52/100
804/804 [==============================] - 0s 537us/step - loss: 0.5373 - accuracy: 0.7396
Epoch 53/100
804/804 [==============================] - 0s 595us/step - loss: 0.5371 - accuracy: 0.7404
Epoch 54/100
804/804 [==============================] - 0s 561us/step - loss: 0.5372 - accuracy: 0.7401
Epoch 55/100
728/804 [==========================>...] - ETA: 0s - loss: 0.5379 - accuracy: 0.7394Epoch 55 - Loss: 0.5369770526885986, Accuracy: 0.7400093078613281
804/804 [==============================] - 0s 552us/step - loss: 0.5370 - accuracy: 0.7400
Epoch 56/100
804/804 [==============================] - 0s 554us/step - loss: 0.5374 - accuracy: 0.7402
Epoch 57/100
804/804 [==============================] - 0s 605us/step - loss: 0.5369 - accuracy: 0.7394
Epoch 58/100
804/804 [==============================] - 0s 569us/step - loss: 0.5367 - accuracy: 0.7398
Epoch 59/100
804/804 [==============================] - 0s 537us/step - loss: 0.5372 - accuracy: 0.7400
Epoch 60/100
735/804 [==========================>...] - ETA: 0s - loss: 0.5363 - accuracy: 0.7410Epoch 60 - Loss: 0.5366914868354797, Accuracy: 0.7402814626693726
804/804 [==============================] - 0s 613us/step - loss: 0.5367 - accuracy: 0.7403
Epoch 61/100
804/804 [==============================] - 0s 559us/step - loss: 0.5368 - accuracy: 0.7405
Epoch 62/100
804/804 [==============================] - 0s 535us/step - loss: 0.5362 - accuracy: 0.7407
Epoch 63/100
804/804 [==============================] - 0s 539us/step - loss: 0.5364 - accuracy: 0.7405
Epoch 64/100
804/804 [==============================] - 0s 581us/step - loss: 0.5363 - accuracy: 0.7404
Epoch 65/100
756/804 [===========================>..] - ETA: 0s - loss: 0.5357 - accuracy: 0.7416Epoch 65 - Loss: 0.5360646843910217, Accuracy: 0.7406702041625977
804/804 [==============================] - 0s 534us/step - loss: 0.5361 - accuracy: 0.7407
Epoch 66/100
804/804 [==============================] - 0s 535us/step - loss: 0.5363 - accuracy: 0.7409
Epoch 67/100
804/804 [==============================] - 0s 599us/step - loss: 0.5362 - accuracy: 0.7404
Epoch 68/100
804/804 [==============================] - 0s 546us/step - loss: 0.5366 - accuracy: 0.7404
Epoch 69/100
804/804 [==============================] - 0s 537us/step - loss: 0.5357 - accuracy: 0.7406
Epoch 70/100
755/804 [===========================>..] - ETA: 0s - loss: 0.5365 - accuracy: 0.7400Epoch 70 - Loss: 0.5359697341918945, Accuracy: 0.7406702041625977
804/804 [==============================] - 0s 535us/step - loss: 0.5360 - accuracy: 0.7407
Epoch 71/100
804/804 [==============================] - 0s 578us/step - loss: 0.5355 - accuracy: 0.7404
Epoch 72/100
804/804 [==============================] - 0s 557us/step - loss: 0.5354 - accuracy: 0.7400
Epoch 73/100
804/804 [==============================] - 0s 558us/step - loss: 0.5359 - accuracy: 0.7405
Epoch 74/100
804/804 [==============================] - 0s 601us/step - loss: 0.5354 - accuracy: 0.7407
Epoch 75/100
754/804 [===========================>..] - ETA: 0s - loss: 0.5353 - accuracy: 0.7413Epoch 75 - Loss: 0.5357269644737244, Accuracy: 0.7414088249206543
804/804 [==============================] - 0s 536us/step - loss: 0.5357 - accuracy: 0.7414
Epoch 76/100
804/804 [==============================] - 0s 535us/step - loss: 0.5351 - accuracy: 0.7416
Epoch 77/100
804/804 [==============================] - 0s 574us/step - loss: 0.5354 - accuracy: 0.7416
Epoch 78/100
804/804 [==============================] - 0s 543us/step - loss: 0.5357 - accuracy: 0.7404
Epoch 79/100
804/804 [==============================] - 0s 540us/step - loss: 0.5353 - accuracy: 0.7410
Epoch 80/100
763/804 [===========================>..] - ETA: 0s - loss: 0.5351 - accuracy: 0.7412Epoch 80 - Loss: 0.5351282954216003, Accuracy: 0.7412921786308289
804/804 [==============================] - 0s 592us/step - loss: 0.5351 - accuracy: 0.7413
Epoch 81/100
804/804 [==============================] - 0s 551us/step - loss: 0.5354 - accuracy: 0.7409
Epoch 82/100
804/804 [==============================] - 0s 534us/step - loss: 0.5347 - accuracy: 0.7415
Epoch 83/100
804/804 [==============================] - 0s 580us/step - loss: 0.5351 - accuracy: 0.7412
Epoch 84/100
804/804 [==============================] - 0s 530us/step - loss: 0.5353 - accuracy: 0.7409
Epoch 85/100
768/804 [===========================>..] - ETA: 0s - loss: 0.5347 - accuracy: 0.7408Epoch 85 - Loss: 0.5348923206329346, Accuracy: 0.7406313419342041
804/804 [==============================] - 0s 526us/step - loss: 0.5349 - accuracy: 0.7406
Epoch 86/100
804/804 [==============================] - 0s 574us/step - loss: 0.5345 - accuracy: 0.7408
Epoch 87/100
804/804 [==============================] - 0s 540us/step - loss: 0.5346 - accuracy: 0.7410
Epoch 88/100
804/804 [==============================] - 0s 540us/step - loss: 0.5351 - accuracy: 0.7410
Epoch 89/100
804/804 [==============================] - 0s 531us/step - loss: 0.5346 - accuracy: 0.7411
Epoch 90/100
761/804 [===========================>..] - ETA: 0s - loss: 0.5347 - accuracy: 0.7410Epoch 90 - Loss: 0.534611165523529, Accuracy: 0.7406313419342041
804/804 [==============================] - 0s 595us/step - loss: 0.5346 - accuracy: 0.7406
Epoch 91/100
804/804 [==============================] - 0s 552us/step - loss: 0.5350 - accuracy: 0.7410
Epoch 92/100
804/804 [==============================] - 0s 537us/step - loss: 0.5343 - accuracy: 0.7409
Epoch 93/100
804/804 [==============================] - 0s 568us/step - loss: 0.5347 - accuracy: 0.7414
Epoch 94/100
804/804 [==============================] - 0s 537us/step - loss: 0.5345 - accuracy: 0.7411
Epoch 95/100
749/804 [==========================>...] - ETA: 0s - loss: 0.5339 - accuracy: 0.7421Epoch 95 - Loss: 0.5342744588851929, Accuracy: 0.7412533164024353
804/804 [==============================] - 0s 538us/step - loss: 0.5343 - accuracy: 0.7413
Epoch 96/100
804/804 [==============================] - 0s 598us/step - loss: 0.5342 - accuracy: 0.7418
Epoch 97/100
804/804 [==============================] - 0s 542us/step - loss: 0.5343 - accuracy: 0.7414
Epoch 98/100
804/804 [==============================] - 0s 572us/step - loss: 0.5339 - accuracy: 0.7407
Epoch 99/100
804/804 [==============================] - 0s 582us/step - loss: 0.5343 - accuracy: 0.7412
Epoch 100/100
761/804 [===========================>..] - ETA: 0s - loss: 0.5342 - accuracy: 0.7411Epoch 100 - Loss: 0.5346196293830872, Accuracy: 0.740242600440979
804/804 [==============================] - 0s 531us/step - loss: 0.5346 - accuracy: 0.7402

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5612 - accuracy: 0.7251 - 130ms/epoch - 484us/step
Loss: 0.5611897110939026, Accuracy: 0.7251312136650085

In [19]:
import warnings
# Suppress UserWarning (Native Keras is recommended, but we were instructed to save the model in HDF5 format) 
warnings.filterwarnings("ignore", category=UserWarning, module="keras")

# Export the model to HDF5 file 
nn.save("AlphabetSoupCharity.h5")