## Preprocessing

In [209]:
# Set up dependencies   
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.callbacks import LambdaCallback
import tensorflow as tf
import pandas as pd

In [210]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [211]:
# Drop the 'EIN' and 'NAME' columns.
colums_to_drop = ["EIN", "NAME"]    
application_df = application_df.drop(colums_to_drop, axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [212]:
# Determine the number of unique values in each column.
application_df.nunique(axis=0)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [213]:
# Look at APPLICATION_TYPE value counts for binning
application_type = application_df.APPLICATION_TYPE.value_counts()
print(application_type)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [214]:
# Cut off at 250 and create a list of application types to be replaced
cutoff_value_app = 250
application_types_to_replace = application_type[application_type < cutoff_value_app].index.tolist()

# Replace with "Other" in the dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [215]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [216]:
# Look at CLASSIFICATION counts >1
classification_counts_upper = classification_counts[classification_counts > 1]
classification_counts_upper

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [217]:
# Cut off at 1000 and create a list of classifications to be replaced
cut_off_value_class = 1000  
classifications_to_replace = classification_counts[classification_counts < cut_off_value_class].index.tolist()  

# Replace with "Other" in the dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [218]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

# Display the resulting DataFrame
application_df_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [219]:
# Split the preprocessed data into target and features arrays   
y = application_df_dummies["IS_SUCCESSFUL"].values
X = application_df_dummies.drop(["IS_SUCCESSFUL"], axis=1).values   

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [220]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler with the training data
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [221]:
# Check the number of features in the training dataset  
number_input_features = len(X_train[0])
print(number_input_features)

43

In [224]:
# Define the model and architecture 
nn = tf.keras.models.Sequential()

# First hidden layer  
nn.add(tf.keras.layers.Dense(units=80, input_dim=number_input_features, activation='relu'))

# Second hidden layer 
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer 
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_16"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_65 (Dense)            (None, 80)                3520

 dense_66 (Dense)            (None, 30)                2430

 dense_67 (Dense)            (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [225]:
# Create a lambda function to print callback after every 5 epochs   
print_callback = LambdaCallback(
    on_epoch_end=lambda epoch, logs: print(f"Epoch {epoch + 1} - Loss: {logs['loss']}, Accuracy: {logs['accuracy']}") if (epoch + 1) % 5 == 0 else None
)

In [226]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [227]:
# Train the model with the callback
nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[print_callback])

Epoch 1/100
804/804 [==============================] - 1s 509us/step - loss: 0.5726 - accuracy: 0.7179
Epoch 2/100
804/804 [==============================] - 0s 498us/step - loss: 0.5551 - accuracy: 0.7319
Epoch 3/100
804/804 [==============================] - 0s 490us/step - loss: 0.5512 - accuracy: 0.7332
Epoch 4/100
804/804 [==============================] - 0s 487us/step - loss: 0.5501 - accuracy: 0.7319
Epoch 5/100
735/804 [==========================>...] - ETA: 0s - loss: 0.5489 - accuracy: 0.7312Epoch 5 - Loss: 0.5493519902229309, Accuracy: 0.7315347790718079
804/804 [==============================] - 0s 543us/step - loss: 0.5494 - accuracy: 0.7315
Epoch 6/100
804/804 [==============================] - 0s 480us/step - loss: 0.5472 - accuracy: 0.7353
Epoch 7/100
804/804 [==============================] - 0s 513us/step - loss: 0.5472 - accuracy: 0.7337
Epoch 8/100
804/804 [==============================] - 0s 568us/step - loss: 0.5467 - accuracy: 0.7348
Epoch 9/100
804/804 [==============================] - 0s 593us/step - loss: 0.5462 - accuracy: 0.7346
Epoch 10/100
759/804 [===========================>..] - ETA: 0s - loss: 0.5452 - accuracy: 0.7360Epoch 10 - Loss: 0.5457158088684082, Accuracy: 0.735344409942627
804/804 [==============================] - 0s 599us/step - loss: 0.5457 - accuracy: 0.7353
Epoch 11/100
804/804 [==============================] - 0s 573us/step - loss: 0.5448 - accuracy: 0.7358
Epoch 12/100
804/804 [==============================] - 0s 541us/step - loss: 0.5445 - accuracy: 0.7351
Epoch 13/100
804/804 [==============================] - 0s 492us/step - loss: 0.5443 - accuracy: 0.7363
Epoch 14/100
804/804 [==============================] - 0s 537us/step - loss: 0.5441 - accuracy: 0.7358
Epoch 15/100
737/804 [==========================>...] - ETA: 0s - loss: 0.5446 - accuracy: 0.7353Epoch 15 - Loss: 0.5435817241668701, Accuracy: 0.7358109354972839
804/804 [==============================] - 0s 551us/step - loss: 0.5436 - accuracy: 0.7358
Epoch 16/100
804/804 [==============================] - 0s 615us/step - loss: 0.5432 - accuracy: 0.7373
Epoch 17/100
804/804 [==============================] - 0s 489us/step - loss: 0.5433 - accuracy: 0.7372
Epoch 18/100
804/804 [==============================] - 0s 468us/step - loss: 0.5433 - accuracy: 0.7377
Epoch 19/100
804/804 [==============================] - 0s 476us/step - loss: 0.5423 - accuracy: 0.7369
Epoch 20/100
754/804 [===========================>..] - ETA: 0s - loss: 0.5427 - accuracy: 0.7385Epoch 20 - Loss: 0.542130172252655, Accuracy: 0.7383377552032471
804/804 [==============================] - 0s 469us/step - loss: 0.5421 - accuracy: 0.7383
Epoch 21/100
804/804 [==============================] - 0s 541us/step - loss: 0.5423 - accuracy: 0.7363
Epoch 22/100
804/804 [==============================] - 0s 470us/step - loss: 0.5418 - accuracy: 0.7378
Epoch 23/100
804/804 [==============================] - 0s 473us/step - loss: 0.5417 - accuracy: 0.7383
Epoch 24/100
804/804 [==============================] - 0s 489us/step - loss: 0.5410 - accuracy: 0.7382
Epoch 25/100
743/804 [==========================>...] - ETA: 0s - loss: 0.5412 - accuracy: 0.7382Epoch 25 - Loss: 0.5412942171096802, Accuracy: 0.7384932637214661
804/804 [==============================] - 0s 474us/step - loss: 0.5413 - accuracy: 0.7385
Epoch 26/100
804/804 [==============================] - 0s 537us/step - loss: 0.5415 - accuracy: 0.7374
Epoch 27/100
804/804 [==============================] - 0s 511us/step - loss: 0.5409 - accuracy: 0.7378
Epoch 28/100
804/804 [==============================] - 0s 519us/step - loss: 0.5408 - accuracy: 0.7385
Epoch 29/100
804/804 [==============================] - 0s 475us/step - loss: 0.5405 - accuracy: 0.7383
Epoch 30/100
752/804 [===========================>..] - ETA: 0s - loss: 0.5404 - accuracy: 0.7391Epoch 30 - Loss: 0.5398064851760864, Accuracy: 0.7392707467079163
804/804 [==============================] - 0s 469us/step - loss: 0.5398 - accuracy: 0.7393
Epoch 31/100
804/804 [==============================] - 0s 479us/step - loss: 0.5402 - accuracy: 0.7388
Epoch 32/100
804/804 [==============================] - 0s 510us/step - loss: 0.5403 - accuracy: 0.7386
Epoch 33/100
804/804 [==============================] - 0s 476us/step - loss: 0.5400 - accuracy: 0.7395
Epoch 34/100
804/804 [==============================] - 0s 495us/step - loss: 0.5398 - accuracy: 0.7402
Epoch 35/100
775/804 [===========================>..] - ETA: 0s - loss: 0.5394 - accuracy: 0.7396Epoch 35 - Loss: 0.539422333240509, Accuracy: 0.739620566368103
804/804 [==============================] - 0s 519us/step - loss: 0.5394 - accuracy: 0.7396
Epoch 36/100
804/804 [==============================] - 0s 470us/step - loss: 0.5394 - accuracy: 0.7398
Epoch 37/100
804/804 [==============================] - 0s 471us/step - loss: 0.5394 - accuracy: 0.7383
Epoch 38/100
804/804 [==============================] - 0s 470us/step - loss: 0.5389 - accuracy: 0.7399
Epoch 39/100
804/804 [==============================] - 0s 469us/step - loss: 0.5387 - accuracy: 0.7390
Epoch 40/100
755/804 [===========================>..] - ETA: 0s - loss: 0.5398 - accuracy: 0.7385Epoch 40 - Loss: 0.5387244820594788, Accuracy: 0.7388430833816528
804/804 [==============================] - 0s 468us/step - loss: 0.5387 - accuracy: 0.7388
Epoch 41/100
804/804 [==============================] - 0s 469us/step - loss: 0.5388 - accuracy: 0.7395
Epoch 42/100
804/804 [==============================] - 0s 516us/step - loss: 0.5386 - accuracy: 0.7403
Epoch 43/100
804/804 [==============================] - 0s 470us/step - loss: 0.5389 - accuracy: 0.7388
Epoch 44/100
804/804 [==============================] - 0s 468us/step - loss: 0.5382 - accuracy: 0.7394
Epoch 45/100
749/804 [==========================>...] - ETA: 0s - loss: 0.5365 - accuracy: 0.7407Epoch 45 - Loss: 0.5379012823104858, Accuracy: 0.739931583404541
804/804 [==============================] - 0s 472us/step - loss: 0.5379 - accuracy: 0.7399
Epoch 46/100
804/804 [==============================] - 0s 471us/step - loss: 0.5381 - accuracy: 0.7401
Epoch 47/100
804/804 [==============================] - 0s 474us/step - loss: 0.5382 - accuracy: 0.7388
Epoch 48/100
804/804 [==============================] - 0s 475us/step - loss: 0.5379 - accuracy: 0.7395
Epoch 49/100
804/804 [==============================] - 0s 466us/step - loss: 0.5379 - accuracy: 0.7400
Epoch 50/100
769/804 [===========================>..] - ETA: 0s - loss: 0.5388 - accuracy: 0.7387Epoch 50 - Loss: 0.5377848744392395, Accuracy: 0.7400093078613281
804/804 [==============================] - 0s 521us/step - loss: 0.5378 - accuracy: 0.7400
Epoch 51/100
804/804 [==============================] - 0s 475us/step - loss: 0.5374 - accuracy: 0.7396
Epoch 52/100
804/804 [==============================] - 0s 469us/step - loss: 0.5373 - accuracy: 0.7397
Epoch 53/100
804/804 [==============================] - 0s 470us/step - loss: 0.5372 - accuracy: 0.7412
Epoch 54/100
804/804 [==============================] - 0s 470us/step - loss: 0.5375 - accuracy: 0.7393
Epoch 55/100
754/804 [===========================>..] - ETA: 0s - loss: 0.5379 - accuracy: 0.7400Epoch 55 - Loss: 0.5372974872589111, Accuracy: 0.7399704456329346
804/804 [==============================] - 0s 468us/step - loss: 0.5373 - accuracy: 0.7400
Epoch 56/100
804/804 [==============================] - 0s 467us/step - loss: 0.5373 - accuracy: 0.7402
Epoch 57/100
804/804 [==============================] - 0s 525us/step - loss: 0.5372 - accuracy: 0.7402
Epoch 58/100
804/804 [==============================] - 0s 471us/step - loss: 0.5372 - accuracy: 0.7403
Epoch 59/100
804/804 [==============================] - 0s 495us/step - loss: 0.5369 - accuracy: 0.7405
Epoch 60/100
785/804 [============================>.] - ETA: 0s - loss: 0.5364 - accuracy: 0.7410Epoch 60 - Loss: 0.5368582010269165, Accuracy: 0.7406702041625977
804/804 [==============================] - 0s 523us/step - loss: 0.5369 - accuracy: 0.7407
Epoch 61/100
804/804 [==============================] - 0s 468us/step - loss: 0.5369 - accuracy: 0.7395
Epoch 62/100
804/804 [==============================] - 0s 471us/step - loss: 0.5368 - accuracy: 0.7409
Epoch 63/100
804/804 [==============================] - 0s 469us/step - loss: 0.5367 - accuracy: 0.7410
Epoch 64/100
804/804 [==============================] - 0s 467us/step - loss: 0.5367 - accuracy: 0.7406
Epoch 65/100
787/804 [============================>.] - ETA: 0s - loss: 0.5357 - accuracy: 0.7404Epoch 65 - Loss: 0.5366466641426086, Accuracy: 0.7395039796829224
804/804 [==============================] - 0s 512us/step - loss: 0.5366 - accuracy: 0.7395
Epoch 66/100
804/804 [==============================] - 0s 468us/step - loss: 0.5366 - accuracy: 0.7398
Epoch 67/100
804/804 [==============================] - 0s 468us/step - loss: 0.5361 - accuracy: 0.7409
Epoch 68/100
804/804 [==============================] - 0s 468us/step - loss: 0.5361 - accuracy: 0.7399
Epoch 69/100
804/804 [==============================] - 0s 468us/step - loss: 0.5361 - accuracy: 0.7399
Epoch 70/100
754/804 [===========================>..] - ETA: 0s - loss: 0.5347 - accuracy: 0.7413Epoch 70 - Loss: 0.5357255935668945, Accuracy: 0.7405924201011658
804/804 [==============================] - 0s 468us/step - loss: 0.5357 - accuracy: 0.7406
Epoch 71/100
804/804 [==============================] - 0s 519us/step - loss: 0.5360 - accuracy: 0.7409
Epoch 72/100
804/804 [==============================] - 0s 474us/step - loss: 0.5362 - accuracy: 0.7398
Epoch 73/100
804/804 [==============================] - 0s 474us/step - loss: 0.5360 - accuracy: 0.7400
Epoch 74/100
804/804 [==============================] - 0s 469us/step - loss: 0.5356 - accuracy: 0.7413
Epoch 75/100
750/804 [==========================>...] - ETA: 0s - loss: 0.5355 - accuracy: 0.7430Epoch 75 - Loss: 0.5357343554496765, Accuracy: 0.7421085238456726
804/804 [==============================] - 0s 470us/step - loss: 0.5357 - accuracy: 0.7421
Epoch 76/100
804/804 [==============================] - 0s 498us/step - loss: 0.5357 - accuracy: 0.7409
Epoch 77/100
804/804 [==============================] - 0s 509us/step - loss: 0.5358 - accuracy: 0.7404
Epoch 78/100
804/804 [==============================] - 0s 470us/step - loss: 0.5354 - accuracy: 0.7415
Epoch 79/100
804/804 [==============================] - 0s 466us/step - loss: 0.5358 - accuracy: 0.7400
Epoch 80/100
757/804 [===========================>..] - ETA: 0s - loss: 0.5355 - accuracy: 0.7407Epoch 80 - Loss: 0.5354201793670654, Accuracy: 0.7408257126808167
804/804 [==============================] - 0s 467us/step - loss: 0.5354 - accuracy: 0.7408
Epoch 81/100
804/804 [==============================] - 0s 469us/step - loss: 0.5355 - accuracy: 0.7399
Epoch 82/100
804/804 [==============================] - 0s 468us/step - loss: 0.5357 - accuracy: 0.7407
Epoch 83/100
804/804 [==============================] - 0s 515us/step - loss: 0.5357 - accuracy: 0.7400
Epoch 84/100
804/804 [==============================] - 0s 469us/step - loss: 0.5351 - accuracy: 0.7413
Epoch 85/100
753/804 [===========================>..] - ETA: 0s - loss: 0.5341 - accuracy: 0.7415Epoch 85 - Loss: 0.5348685383796692, Accuracy: 0.7408645749092102
804/804 [==============================] - 0s 469us/step - loss: 0.5349 - accuracy: 0.7409
Epoch 86/100
804/804 [==============================] - 0s 468us/step - loss: 0.5349 - accuracy: 0.7414
Epoch 87/100
804/804 [==============================] - 0s 464us/step - loss: 0.5354 - accuracy: 0.7407
Epoch 88/100
804/804 [==============================] - 0s 466us/step - loss: 0.5351 - accuracy: 0.7411
Epoch 89/100
804/804 [==============================] - 0s 467us/step - loss: 0.5351 - accuracy: 0.7405
Epoch 90/100
728/804 [==========================>...] - ETA: 0s - loss: 0.5349 - accuracy: 0.7415Epoch 90 - Loss: 0.5347693562507629, Accuracy: 0.7412921786308289
804/804 [==============================] - 0s 550us/step - loss: 0.5348 - accuracy: 0.7413
Epoch 91/100
804/804 [==============================] - 0s 525us/step - loss: 0.5346 - accuracy: 0.7418
Epoch 92/100
804/804 [==============================] - 0s 508us/step - loss: 0.5347 - accuracy: 0.7411
Epoch 93/100
804/804 [==============================] - 0s 497us/step - loss: 0.5347 - accuracy: 0.7419
Epoch 94/100
804/804 [==============================] - 0s 468us/step - loss: 0.5345 - accuracy: 0.7414
Epoch 95/100
800/804 [============================>.] - ETA: 0s - loss: 0.5347 - accuracy: 0.7418Epoch 95 - Loss: 0.5345749855041504, Accuracy: 0.7418752908706665
804/804 [==============================] - 0s 515us/step - loss: 0.5346 - accuracy: 0.7419
Epoch 96/100
804/804 [==============================] - 0s 473us/step - loss: 0.5342 - accuracy: 0.7409
Epoch 97/100
804/804 [==============================] - 0s 472us/step - loss: 0.5345 - accuracy: 0.7420
Epoch 98/100
804/804 [==============================] - 0s 472us/step - loss: 0.5344 - accuracy: 0.7410
Epoch 99/100
804/804 [==============================] - 0s 499us/step - loss: 0.5345 - accuracy: 0.7418
Epoch 100/100
751/804 [===========================>..] - ETA: 0s - loss: 0.5344 - accuracy: 0.7413Epoch 100 - Loss: 0.534282922744751, Accuracy: 0.7411755323410034
804/804 [==============================] - 0s 470us/step - loss: 0.5343 - accuracy: 0.7412

In [228]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5639 - accuracy: 0.7252 - 141ms/epoch - 528us/step
Loss: 0.5639389157295227, Accuracy: 0.7252478003501892

In [230]:
import warnings
# Suppress UserWarning (Native Keras is recommended, but we were instructed to save the model in HDF5 format) 
warnings.filterwarnings("ignore", category=UserWarning, module="keras")

# Export the model to HDF5 file 
nn.save("AlphabetSoupCharity.h5")